@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montaga&family=Poppins:wght@400;500;600&display=swap');

:root {
  /* 1. Colors */
  --color-main: #2563EB;
  --color-main-hover: #2159D4;
  --color-main-active: #1E4FBC;
  --color-main-darker: #1C4AB0;
  
  --color-text-black: #131927;
  --color-text-gray: #6D717F;
  
  --color-light-blue: #DEE8FC;
  --color-light-blue-active: #BBCFF9;

  /* 2. Typography */
  --font-montaga: "Montaga", serif;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  /* 3. Spacing */
  --spacing-main-margin-y: 58px;
  --spacing-main-margin-x: 120px;
  --spacing-section-pad-y: 64px;
  --spacing-section-pad-x: 40px;
  --spacing-card-pad: 32px;
  --spacing-gap-custom: 40px;
  --spacing-gap-small: 24px;

  /* 4. Shadows */
  --shadow-shadow-1: 0 6px 12px -4px rgba(19, 25, 39, 0.12);
  --shadow-shadow-2: 0 8px 22px -4px rgba(19, 25, 39, 0.08);
}